:root {
    --textboxborder: #646c7d;
}

[role=\"checkbox\"] {
 border: 1px solid var(--actionButtonColor) !important;
}

[role=\"checkbox\"]:hover {
 border: 1px solid #8bae98 !important;
}

a[routerlink=\"/videos/overview\"],a[routerlink=\"/videos/trending\"],a[routerlink=\"/videos/most-liked\"],a[routerlink=\"/videos/local\"],a[routerlink=\"/my-library/videos\"],a[routerlink=\"/my-library/video-playlists\"],a[routerlink=\"/my-library/history/videos\"] {
 margin-bottom: -40px !important;
visibility: hidden !important;
}

body {
    --actionbuttoncolor: #a9d3b8;
    --activatedactionbuttoncolor: var(--actionButtonColor);
    --embedbigplaybackgroundcolor: var(--mainBackgroundColor);
    --embedforegroundcolor: var(--mainColor);
    --greyforegroundcolor: var(--mainColor);
    --inputbackgroundcolor: var(--mainBackgroundColor);
    --inputforegroundcolor: var(--mainColor);
    --inputplaceholdercolor: var(--mainColor);
    --mainbackgroundcolor: #141515;
    --maincolor: #a9b7d3;
    --maincolorlighter: #b7c7e5;
    --maincolorlightest: #c1d1f1;
    --mainforegroundcolor: var(--mainColor);
    --mainhovercolor: #8893aa;
    --markdowntextareabackgroundcolor: var(--mainBackgroundColor);
    --menubackgroundcolor: var(--mainBackgroundColor);
    --menuforegroundcolor: var(--mainColor);
    --secondarycolor: var(--actionButtonColor);
    --submenucolor: var(--mainBackgroundColor);
    --textareabackgroundcolor: var(--mainBackgroundColor);
    --textareaforegroundcolor: var(--mainColor);
    background-color: var(--mainBackgroundColor);
}

g.layer path {
    fill: transparent !important;
}

g.layer>path:nth-child(2) {
    fill: var(--mainBackgroundColor) !important;
}

html.js-focus-visible body#custom-css div.dropdown div.dropdown-menu.show a.dropdown-item my-input-switch.ml-auto div label.ml-auto {
    background: #f0f0f0;
}

input+label {
    background: var(--mainHoverColor) !important;
}

input:checked+label {
    background: var(--actionButtonColor) !important;
}

input[type=\"text\"]
 {
    border: 0 solid var(--textBoxBorder) !important;
}

my-account-server-blocklist.ng-star-inserted h1 my-global-icon svg#Calque_1 line.st0 {
    stroke: var(--mainColor) !important;
}

my-account-server-blocklist.ng-star-inserted>h1:nth-child(1)>my-global-icon:nth-child(1)>svg:nth-child(1)>g:nth-child(4)>g:nth-child(1)>g:nth-child(1)>path {
    fill: var(--mainColor) !important;
}

my-videos-user-subscriptions.ng-star-inserted div.margin-content div.videos-header h1.title-page.title-page-single.ng-star-inserted div {
    left: -235px !important;
    position: relative !important;
    top: 0 !important;
    visibility: hidden !important;
}

my-videos-user-subscriptions.ng-star-inserted div.margin-content div.videos-header h1.title-page.title-page-single.ng-star-inserted div::after {
    content: \"Subscriptions\" !important;
 visibility:visible !important;
}

.alert-info {
    background-color: var(--mainColor) !important;
    border-color: transparent !important;
    color: var(--mainBackgroundColor) !important;
}

.border-top {
    border-top: none !important;
}

.bs-popover-left>.arrow::after {
    border-left-color: #f0f0f0 !important;
}

.bs-popover-right>.arrow::after {
    border-right-color: #f0f0f0 !important;
}

.btn-outline-secondary {
    border-color: var(--textBoxBorder) !important;
}

.button-link {
    background: var(--mainColor) !important;
    color: var(--mainBackgroundColor) !important;
}

.dropdown-divider {
    border-top: 0 solid !important;
    margin: 0 !important;
}

.dropdown-item:hover {
    background-color: var(--mainHoverColor) !important;
    color: var(--mainBackgroundColor) !important;
}

.dropdown-menu {
    background-color: var(--mainBackgroundColor) !important;
    color: var(--mainForegroundColor) !important;
}

.dropdown-toggle.action-button.grey.button-styled {
    background: var(--mainColor) !important;
}

.feather.feather-rss {
    margin-right: -4px !important;
}

.first-step-block .button-file.form-control {
    position: relative !important;
    visibility: hidden !important;
}

.first-step-block .button-file.form-control:after {
    color: var(--actionButtonColor) !important;
    content: \"File upload disabled.\" !important;
 left:0 !important;
    position: absolute !important;
    top: 0 !important;
    visibility: visible !important;
}

.form-control {
    background: var(--mainBackgroundColor) !important;
    color: var(--mainColor) !important;
}

.form-control:focus {
    background-color: var(--mainBackgroundColor) !important;
    box-shadow: 0 0 0 .2rem var(--textBoxBorder);
    color: var(--mainForegroundColor) !important;
}

.glyphicon-ok {
    color: #70c388 !important;
}

.glyphicon-remove {
    color: #f13349 !important;
}

.help-popover .popover-body {
    background-color: #f0f0f0 !important;
    color: var(--mainBackgroundColor) !important;
}

.icon-logo {
    background-image: url() !important;
}

.in-my-library>div:nth-child(1), .on-instance>div:nth-child(1) {
    left: -82px !important;
    position: relative !important;
    top: 0 !important;
    visibility: hidden !important;
}

.in-my-library>div:nth-child(1)::after {
    content: \"Live Now\" !important;
 position:absolute !important;
    visibility: visible !important;
}

.input-group-append.ng-star-inserted {
    background: var(--mainColor) !important;
    border-radius: 3px !important;
}

.logged-in-menu {
    border-top: 0 solid var(--mainBackgroundColor) !important;
}

.ng-pristine.ng-valid div.root div.tab-content {
    border-bottom: 1px solid var(--textBoxBorder) !important;
    border-left: 1px solid var(--textBoxBorder) !important;
    border-right: 1px solid var(--textBoxBorder) !important;
    border-top: 1px solid var(--textBoxBorder) !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.no-results::after {
    content: \"No streams live 📺\" !important;
 visibility:visible !important;
}

.on-instance>div:nth-child(1) {
    margin-bottom: -34.5px !important;
}

.p-checkbox-box {
    background: none !important;
}

.peertube-select-container, .peertube-select-container:hover {
    background-color: transparent !important;
    border: none !important;
}

.peertube-select-container::after {
    border-top-color: var(--mainColor) !important;
}

.root .form-group-checkbox input:checked+span {
    background: #275b28 !important;
}

.root .form-group-checkbox input:focus+span {
    box-shadow: 0 0 0 .2rem var(--actionButtonColor);
}

.video-add-nav a.nav-link.active {
    border-color: transparent !important;
}

a.button-link my-global-icon svg circle, a.button-link my-global-icon svg g path, a.button-link my-global-icon svg path, .action-button.action-button-edit.grey-button my-global-icon svg path, .add-button my-global-icon svg.feather.feather-user-plus *, .create-button my-global-icon svg.feather.feather-plus-circle *, .action-button.action-button-delete my-global-icon svg.feather.feather-trash-2 *, .action-button .ng-star-inserted .feather.feather-settings *, .feather-rss *, ng-component.ng-star-inserted div.header a my-global-icon svg.feather.feather-settings *, .feather.feather-trash-2 *, .update-button .action-button .ng-star-inserted svg * {
    stroke: var(--mainBackgroundColor) !important;
}

a.ml-2.block-button my-global-icon svg.feather.feather-plus-circle circle, a.ml-2.block-button my-global-icon svg.feather.feather-plus-circle line, button.ng-star-inserted, .dropdown-toggle-split, code, div.dropdown div.dropdown-menu.show *, div.dropdown-root.ng-star-inserted.show.dropdown div.dropdown-menu.show span.custom-action.dropdown-item.with-icon.ng-star-inserted div.d-flex.flex-column.ng-star-inserted, html.js-focus-visible body#custom-css div.dropdown div.dropdown-menu.show button.dropdown-item, html.js-focus-visible body#custom-css div.dropdown div.dropdown-menu.show button.dropdown-item span, input[type=\"submit\"],label.radio,my-global-icon.mr-1>svg:nth-child(1),my-peertube-checkbox div.root.flex-column div.d-flex label.form-group-checkbox span.ng-star-inserted,svg.feather.feather-settings circle,svg.feather.feather-settings path,.action-button.action-button-edit.grey-button,.add-button,.create-button,.action-button-delete,.badge-primary,.badge-secondary,.block-button,.btn-remote-follow,.button-file,.dropdown-item my-global-icon svg,.dropdown-menu .dropdown-item:active,.dropdown-menu .dropdown-item:hover,.dropdown-menu a,.dropdown-toggle.action-button.orange.button-styled,.feather-upload-cloud,.first-step-block input[type=\"button\"],.grey.button-styled my-global-icon svg circle,.orange-button .ng-star-inserted svg path,.orange-button .ng-star-inserted svg polyline,.orange-button,.p-button-label,.p-paginator-page.p-paginator-element.p-link.p-highlight.p-ripple.ng-star-inserted,.delete-history,.popover-notifications.popover .popover-body .all-notifications,.privacy-concerns-button,.publish-button-label,.publish-button[_ngcontent-aak-c111] my-global-icon[_ngcontent-aak-c111] .feather,.publish-button[_ngcontent-aak-c111] my-global-icon[_ngcontent-aak-c111] .material
 {
    color: var(--mainBackgroundColor) !important;
}

html.js-focus-visible body#custom-css my-app div.peertube-container.user-logged-in div.sub-header-container div#content.main-col div.main-row my-my-account.ng-star-inserted div.row div.margin-content.pb-5.offset-content ng-component.ng-star-inserted div.header a, .grey-button {
    background-color: var(--mainColor) !important;
    color: var(--mainBackgroundColor) !important;
}

input, .header, .publish-button:focus {
    box-shadow: none !important;
}

input#original-publication-after, input#original-publication-before, textarea, .input-group-text, .peertube-select-container select, .search-bar input, #confirmInput, #new-email, #table-filter, .input-group .form-control, #display-name, #fromName, #fromEmail, #subject {
    border: 1px solid var(--textBoxBorder) !important;
}

my-account-abuses-list h1, my-account-applications.ng-star-inserted>h1:nth-child(1), my-account-blocklist h1, my-account-server-blocklist h1, ng-component h1, .video, .nav-tabs {
    border-bottom: none !important;
}

my-peertube-checkbox.ng-untouched.ng-pristine.ng-valid div.root.flex-column div.d-flex label.form-group-checkbox span.ng-star-inserted, select>option {
    color: var(--mainColor) !important;
}

svg, .ng-star-inserted my-global-icon svg.feather.feather-settings circle, .ng-star-inserted my-global-icon svg.feather.feather-settings path, .privacy-concerns-button:hover {
    color: var(--mainHoverColor) !important;
}

.block-title, .title-page, .no-results.ng-star-inserted, .feather-share-2, .instance-name, .new-playlist-button>my-global-icon:nth-child(1)>svg:nth-child(1), .text-success {
    color: var(--actionButtonColor) !important;
}

.btn-group-subscribe.unsubscribe-button .btn, .unsubscribe-button>button {
    background-color: var(--actionButtonColor) !important;
}

.delete-history, .icon-next, .popover {
    background-color: var(--mainColor) !important;
}

.dropdown-item, .dropdown-menu .dropdown-item .ng-star-inserted {
    color: var(--mainForegroundColor) !important;
}

.first-step-block ngb-tooltip-window, .no-results {
    visibility: hidden !important;
}

.logged-in-block, .miniature-thumbnail, .privacy-concerns, .video-thumbnail {
    background-color: var(--mainBackgroundColor) !important;
}

.nav-pills.nav-preview.nav, .upload-video-container {
    border: none !important;
}

.results-header, .video-playlist, .video-channel {
    border-bottom: 0 solid transparent !important;
}